language: python
python:
- '2.7'
sudo: false
cache:
  directories:
  - "~/.platformio"
install:
- pip install -U platformio
- platformio lib install 75
- platformio lib install 19
script:
- platformio run
after_success: "./scripts/upload-binary.sh"
env:
  global:
    secure: TuMnzk/qaFqlAAY6l/RsFi9cJBTlngk+wABS33H6kBY0VIQeJRxGCr7aD7gdEt0S1UHJnO7I7n75ktvQV7UQ+HgfbMjYrkbShUrPhNssw1tOXB/sCwOHGbdvxhXcUzeKWJHhifwbjiwk2ltzPzvKi67tCSprLtw0YkXmSDX/QlOsxEY0S3+IQW7B3gsghQx838fwoJJiZtD+pkQ6jVkacfG5jP6JmJmx8m7JFINhUphMiwM4IaO6tEJ98PumkUdP3kOxf6BosfhN9Gvoosd91G7wht24nKqGl1uJUpHXbc0vMbRaglQK7pG4v+Y3txe5QAQJ286QJo02cE7aEAF72u1hyu8riE7riMWuqJkwH1uv6/5zG+jdJZW3Gi1WeVz3LonQ6G/F8HlgllT3VvFu7QAgHCeFAFg2HrvV9crMUkzNVVwwwkX0GlrS9A5w4i6QH64qafmSxSdPNJAL8m2F97wizJBw9pCMr68cv5r4Rdi+miwDpJk519cHO2taR3yQtp+5dvIsLVJRJmYQB4f2fU1sGH0kibvx90+KVlPXjVQtZIg0bHrnmhNoXQtwaFD4h37DFCii0lvSDhdpmMtyWZCCDHtfxbe5eGKxgFccSVLF1lT5cw3JokWb7JjDvdsY2IMMf1eK/lBjCSNPkFvuuQ/UzSIdX9sJKagt6fU2NfE=
